body, html {
    font-family: "Poppins";
    padding:0;
    margin:0;
    color:white;
    
}

.main-container {
    height: 100svh;
    background-image: url(/assets/bClouds\ 1.png);
    background-size: cover;
}

.main-container-2 {
    height: 100svh;
    background-image: url(/assets/bClouds2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container-3 {
    height: 100svh;
    background-image: url(/assets/bClouds3.png);
    background-size: cover;
    background-position: bottom;
}

.navbar,
.navlinks {
    display:flex;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    padding:5px 50px;
    gap:40px;
}

.navlinks {
    display: flex;
    gap:40px;
}

.navlinks a {
    text-decoration: none;
    color:white;
    /* padding:5px 20px; */
    font-weight: 600;
    text-transform: uppercase;

}

.active-link {
    border-bottom: 2px solid white !important;
}

@keyframes expandAnimation {
    0% {
        height: 0;
        width: 0;
    }
    10% {
        height: 80vh;
        width: 0;
    }
    20%{
        width: 0;
    }
    30%{
        width: 70svw;
    }

}

@keyframes expandAnimationTablet {
    0% {
        height: 0;
        width: 0;
    }
    10% {
        height: 60vh;
        width: 0;
    }
    20%{
        width: 0;
    }
    30%{
        width: 60svw;
    }

}


.aboutus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80svh;
    overflow: hidden;
    flex-direction: column;
    border: 5px solid white;
    width: 70svw;
    animation: expandAnimation 5s ease-in 0s 1 normal forwards;
}


.aboutus-container h1 {
    font-size: 45px;
    background-color: #f0ffe9;
    padding:10px 20px;
    color:gray;
}


.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80svh;
}



.homepage-container h1 {
    font-size: 45px;
    background-color: #f0ffe9;
    padding:10px 20px;
    color:gray;
}



.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50svw;
    gap:20px;
}

.title-container h1 {
    margin:0;
}

.title-container p {
    margin:0;
    width: 45svw;
}

@media only screen and (max-width:1700px) {
    .homepage-container h1 {
        font-size: 35px;
    }

    .title-container {
        width: 50svw;
    }

}

@media only screen and (max-width:1450px) {
    .homepage-container h1 {
        font-size: 33px;
    }

    .title-container p {
        width: 42svw;
    }
}

@media only screen and (max-width:1300px) {
    .homepage-container h1 {
        font-size: 27px;
    }

    .title-container p {
        width: 42svw;
    }
}


.about-us-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50svw;
    gap: 20px;
    padding-top:40px
}

.about-us-title-container h1 {
    margin: 0;
    text-align: center;
}

.about-us-title-container p {
    margin: 0;
    width: 43svw;
    text-align: center;
}


@media only screen and (max-width:1700px) {
  
    .aboutus-container h1 {
        font-size: 35px;
    }

}



@media only screen and (max-width:1300px) {
    .aboutus-container h1 {
        font-size: 25px;
    }
   
}


@media only screen and (max-width:1080px) {
   .navbar {
    flex-direction: column;
    gap:20px;
    margin-bottom: 40px;
   }
      
}



#data-container {
    height:70vh;
    width:40svw;
    border:5px solid white;
    animation: expandAnimationHomepage 5s ease-in 0s 1 normal forwards;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

#data-container img {
    width: 40svw;
}

#data-container p {
    padding:20px;
    margin: 0;
    color: grey;
}

#data-container h1 {
    margin: 0;
}


@keyframes expandAnimationHomepage {
    0% {
        height: 0;
        width: 0;
    }
    10% {
        height: 70vh;
        width: 0;
    }
    30%{
        width: 40svw;
    }

}


@keyframes expandAnimationHomepageMobile {
    0% {
        height: 0;
        width: 0;
    }
    10% {
        height: 70vh;
        width: 0;
    }
    30%{
        width: 80svw;
    }

}

@media only screen and (max-width:1080px) {

    .title-container {

        align-items: center;
        justify-content: center;
        width: 80svw;
        gap:20px;
    }

    .homepage-container  {
        flex-direction: column-reverse;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .title-container p {
        width: auto;
        text-align: center;
    }

    #data-container {
        height:70vh;
        width:80svw;
        animation: expandAnimationHomepageMobile 5s ease-in 0s 1 normal forwards;
    }
    
    #data-container img {
        width: 80svw;
    }
    
    
}


.companyInfo {
    display: flex;
    gap:40px;
    align-items: center;
    justify-content: center;
    margin-top:40px;
}

.employeeInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding:10px;
    overflow: hidden;

}

.employeeInfo h1 {
    margin:0;
    font-size:25px;
    background-color: grey;
    color: white;
}

.employeeInfo h2 {
    color:white;
    margin: 0;
}


@media only screen and (max-width:1080px) {
    .aboutus-container {
        width: 60svw;
        animation: expandAnimationTablet 5s ease-in 0s 1 normal forwards;
        height: 60svh;
        justify-self: center;
        align-self: center;
        margin-top: 10svh;
    }

    .companyInfo {
        flex-direction: column;
        align-items: stretch;
    }

    .aboutus-container h1 {
        font-size: 40px;
    }

      
}




.contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80svh;
}

.contact-us-container h1 {
    font-size: 45px;
    background-color: #f0ffe9;
    padding:10px 20px;
    color:gray;
}


#contactForm  {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:2.5px solid #f0ffe9;
    padding: 0px 20px;
    gap:10px;
    height: 84px;
    
}





.submitBtn {
    background-color: #f0ffe9;
    padding:10px 20px;
    color:gray;
    border:none;
    cursor: pointer;
}


#contactForm  input {
    
    background-color: transparent;
    border:1px solid #f0ffe9;
    color: white;

}


#contactForm  textarea {
    
    background-color: transparent;
    border:1px solid #f0ffe9;
    margin-top: 2px;
    color: white;

}





#btnSearch,
#btnClear{
    background-color: #f0ffe9 !important;
    padding:5px 20px;
    color:gray;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    font-family:'Poppins';
    
}


#countryInput   {
    
    background-color: transparent;
    border:1px solid #f0ffe9;
    padding:7px 20px;
    width:230px;
    color: white;

}

#countryInput::placeholder {
    color: white;
    opacity: 1;
  }


#btnSearch,
#btnClear {
    
    background-color: transparent;
    border:1px solid #f0ffe9;
    margin-top: 2px;

}


.stroke {
    color: transparent !important;
    -webkit-text-stroke: 1.7px white; /* for WebKit-based browsers */
    
}



@media only screen and (max-width:1080px) {
    .contact-us-container{
        flex-direction: column;
    }

    #contactForm {
        /* flex-direction: column; */
        height: auto;
        padding: 40px;
    }
      
}



